[submodule "symfony-docs-ja-sphinx.git"]
	path = symfony-docs-ja-sphinx.git
	url = git@github.com:brtriver/symfony-docs-ja-sphinx.git
[submodule "Silex"]
	path = Silex
	url = https://github.com/silexphp/Silex.git
